{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block header_class %}{% if page.show_hero %}bg-primary{% else %}d-none{% endif %}{% endblock %}

{% block header_style %}
    {% if page.show_hero and page.hero_background_image %}
        style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('{% image page.hero_background_image original as bg_img %}{{ bg_img.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"
    {% endif %}
{% endblock %}

{% block header %}
    {% include 'includes/hero_section.html' %}
{% endblock %}

{% block content %}
    {% for block in page.content %}
        {{ block }}
    {% endfor %}
{% endblock content %}
